<h3>Lawyer Profile</h3>

Name: <%= @lawyer.name %><br>
Email: <%= @lawyer.email %><br>
Current Rate: <%= number_to_currency(@lawyer.rate) %>/hr.<br>

<br>

<div>

    <div style="float:left;">
      <%= button_to 'Edit Lawyer', edit_lawyer_path(@lawyer), method: "get" if current_user == @lawyer %>
    </div>
    <div style="float:left;">
      <%= button_to 'See All Lawyers', '/lawyers', method: "get" %>
    </div>
    <div style="float:left;">
      <%= button_to 'See All Matters', '/matters', method: "get" %>
    </div>
    <div style="clear:both;">
    </div>
</div>

<br>
<hr>

<% if !@lawyer.matters.blank? %>
  <table>
    <tr>
      <th>Client</th>
      <th>Matter</th>
    </tr>
  <% @lawyer.matters.each do |matter| %>
    <tr>
      <td><%= link_to matter.client.name, client_path(matter.client) %></td>
      <td><%= link_to matter.name, matter_path(matter) %></td>
    </tr>
  <% end %>
<% else %>
  <br><%= "*This lawyer is not supervising any matters at this time." %>
<% end %>
