<h3>Lawyer Profile</h3>

Name: <%= @lawyer.name %><br>
Email: <%= @lawyer.email %><br>
Current Rate: <%= number_to_currency(@lawyer.rate) %>/hr.<br>

<br>

<%= button_to 'Edit Lawyer', edit_lawyer_path(@lawyer), method: "get" if current_user_is(@lawyer) %>

<br>
<hr>

<% if matters_not_blank_for_this(@lawyer) %>
  <h4>Matters This Lawyer Is Supervising</h4>
  <%= render partial: "matters/table", locals: {matters: @lawyer.matters} %>
<% else %>
  <br>
  <p>*This lawyer is not supervising any matters at this time.</p>
<% end %><br>
