<h3 id="lawyer_show_header" lawyer-id="<%= @lawyer.id %>">Lawyer Profile</h3>

Name: <%= @lawyer.name %><br>
Email: <%= @lawyer.email %><br>
Current Rate: <%= number_to_currency(@lawyer.rate) %>/hr.<br>

<br>

<%= button_to 'Edit Lawyer', edit_lawyer_path(@lawyer), method: "get" if current_user_is_lawyer %>

<br>
<hr>

<h4>Matters This Lawyer Is Supervising</h4>
<table id="show_lawyer_matters"></table>
<br>

<script type="text/javascript" src="assets/javascripts/handlebars.js"></script>
<script id="lawyer-matters-show-page-template" type="text/x-handlebars-template">
  <tr>
    <td style='text-align:center'>{{ matter_id }}</td>
    <td><a href='/matters/{{ matter_id }}'>{{ matter_name }}</a></td>
    <td><a href='/clients/{{ client_id }}'>{{ client_name }}</a></td>
    <td style='text-align:center'>{{ hours_billed }}</td>
  </tr>
</script>
