<h3><%= @lawyer.name %></h3>
<p>Email: <%= @lawyer.email %></p>
<p>Current Rate: <%= number_to_currency(@lawyer.rate) %>/hr.</p>
<%= button_to 'Edit Lawyer', edit_lawyer_path(@lawyer), method: "get" %><br>
<%= button_to 'Logout', '/logout', method: "get" %><br>
<hr>
<table>
  <tr>
    <th>Client</th>
    <th>Matter</th>
  </tr>
<% @lawyer.matters.each do |matter| %>
  <tr>
    <td><%= link_to matter.client.name, client_path(matter.client) %></td>
    <td><%= link_to matter.name, matter_path(matter) %></td>
  </tr>
<% end %>
