<h3>Lawyer Sign In</h3>

<% if @error %>
  <%= @error %><br><br>
<% end %>

<%= form_for @lawyer, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br><br>

  <%= f.submit "Sign In"%>

<% end %><br>

<%= button_to "Go Back", root_path, method: "get" %><br>
