<h3>Lawyer Sign In</h3>
<!--<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <label>Email </label><br>
  <input name=lawyer[email]><br><br>
  <label>Password </label><br>
  <input name=lawyer[password] type="password"><br><br>
  <input type=submit value='Sign In' id='Sign In'>
<% end %> -->

<%= form_for @lawyer, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>

  <% if @lawyer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lawyer.errors.count, "error") %>
        prohibited this matter from being saved:</h2>

      <ul>
      <% @lawyer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br><br>

  <%= f.submit "Sign In"%>

<% end %>
