<%= form_for(matter) do |f| %>

  <% if matter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(matter.errors.count, "error") %>
        prohibited this matter from being saved:</h2>

      <ul>
      <% matter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :lawyer, "Supervising Lawyer" %>
  <%= f.collection_select :lawyer_id, Lawyer.order(:name), :id, :name, include_blank: true %><br><br>
  <%= f.label :client %>
  <%= f.collection_select :client_id, Client.order(:name), :id, :name, include_blank: true %><br>

  <br>

    <%= f.fields_for :notes, matter.notes.build do |notes_field| %>
      <p><%= notes_field.label :date %> <%= notes_field.date_select :date, :order => [:month, :day, :year], :max => Date.today %><br></p>
      <p><%= notes_field.label :content %> <%= notes_field.text_area :content %></p><br>
   <% end %>
  <br>

  <%= f.submit %>

<% end %>
