<%= form_for(matter) do |f| %>

  <%= render partial: "layouts/errors", locals: {instance: matter} %>

  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :lawyer, "Supervising Lawyer" %>
  <%= f.collection_select :lawyer_id, Lawyer.order(:name), :id, :name, include_blank: true %><br><br>
  <%= f.label :client %>
  <%= f.collection_select :client_id, Client.order(:name), :id, :name, include_blank: true %><br>

  <br>
  <hr>

  <h4><i>Add Note (e.g. deadlines, comments)</i></h4>
    <%= f.fields_for :notes, matter.notes.build do |notes_field| %>
      <p><%= notes_field.label :date %></p>
      <%= notes_field.date_select :date, :order => [:month, :day, :year], :max => Date.today %><br>
      <p><%= notes_field.label :content %></p>
      <%= notes_field.text_area :content, cols: "60", rows: "7" %>
   <% end %>

   <br>
   <br>
   <hr>
   <br>

  <%= f.submit %>

<% end %>
