<h1>Edit matter</h1>

<%= form_for(@matters) do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :client %><br>
  <%= f.text_area :client %><br>
  <%= f.label :lawyer %><br>
  <%= f.text_area :lawyer %><br>
  <%= f.submit %>

<% end %>
