<h1>New matter</h1>

<%= form_for(@matter) do |f| %>

  <%= f.fields_for :m_attributes do |m| %>
    <%= m.label :name %>
    <%= m.text_field :name %><br><br>
    <%= m.label :client %>
    <%= m.collection_select :client_id, Client.order(:name), :id, :name, include_blank: true %><br><br>
  <% end %>
  <%= f.label :lawyer, "Supervising Lawyer" %>
  <%= f.collection_select :lawyer_id, Lawyer.order(:name), :id, :name, include_blank: true %><br><br>

  <!--<%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :lawyer, "Supervising Lawyer" %>
  <%= f.collection_select :lawyer_id, Lawyer.order(:name), :id, :name, include_blank: true %><br><br>
  <%= f.label :client %>
  <%= f.collection_select :client_id, Client.order(:name), :id, :name, include_blank: true %><br><br>-->

  <%= f.submit %>

<% end %>
