<h1>New matter</h1>

<%= form_for(@matter) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :lawyer, "Supervising Lawyer" %>
  <%= f.collection_select :lawyer_id, Lawyer.order(:name), :id, :name, include_blank: true %><br><br>
  <%= f.label :client %>
  <%= f.collection_select :client_id, Client.order(:name), :id, :name, include_blank: true %><br><br>

  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |builder| %>
      <p>
        <%= builder.check_box %>
        <%= builder.label %>
      </p>
    <% end %>
    <%= f.fields_for :tags, @matter.tags.build do |tags_field| %>
      <%= tags_field.label "Or add new tag:" %>
      <%= tags_field.text_field :name, id: "Name" %>
    <% end %>

  <%= f.submit %>

<% end %>
