<h3 id="matter-name" matter-id="<%= @matter.id %>"><%= @matter.name %></h3>
<p>Client: <%= link_to @matter.client.name, client_path(@matter.client) %></p>

<p>Supervising Attorney: <%= matter_lawyer_exists? ? (link_to @lawyer.name, lawyer_path(@lawyer)) : "N/A" %></p>

<% if current_user_is_lawyer %>
  <p><%= button_to 'Edit matter', edit_matter_path(@matter), method: "get" %></p>
<% end %>

<hr>

<h4>Time Entries</h4>

  <div>
      <table id="show_matter_time_entries"></table>
      <br>
      <hr>
      <div>
        <h4>Add a Time Entry</h4>
        <div id="errors"></div>
        <%= render partial: "time_entries/miniform", locals: {time_entry: @time_entry, matter: @matter} %>
      </div>
  </div>

<br>

<script type="text/javascript" src="assets/javascripts/handlebars.js"></script>
<script id="matters-time-entries-show-page-header-template">
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Duration</th>
    <th>Lawyer</th>
    <th>Fee</th>
  </tr>
</script>
<script id="matters-time-entries-show-page-template" type="text/x-handlebars-template">
  <tr>
    <td>{{ date }}</td>
    <td>{{ description }}</td>
    <td>{{ duration }}</td>
    <td>{{ lawyer_name }}</td>
    <td>{{ atty_fee }}</td>
  </tr>
</script>
