<h3><%= @matter.name %></h3>
<p>Name: <%= @matter.name %></p>
<p>Client: <%= link_to @matter.client.name, client_path(@matter.client) %></p>

<p>Supervising Attorney: <%= matter_lawyer_exists? ? (link_to @lawyer.name, lawyer_path(@lawyer)) : "N/A" %></p>

<% if current_user_is_lawyer %>
  <p><%= button_to 'Edit matter', edit_matter_path(@matter), method: "get" %></p>
<% end %>

<hr>

<h4>Time Entries</h4>
  <p>Number of entries: <%= @matter.time_entries.count %></p>
  <div>
      <div style="float:left;">
        <%= button_to 'Add new time entry', new_matter_time_entry_path(@matter), method: "get" %>
      </div>
      <div style="float:left;">
        <%= button_to 'View matter time entries', matter_time_entries_path(@matter), method: "get" %>
      </div>
      <div style="clear:both;">
      </div>
      <hr>
      <div>
        <h4>Add a Time Entry</h4>
        <%= render partial: "time_entries/form", locals: {time_entry: @time_entry, matter: @matter} %>
      </div>
  </div>

<br>
<hr>

<h4>Notes</h4>
<% if matter_notes_not_blank %>
  <ol><% @matter.notes.reverse.each do |note| %>
    <li><%= note.date %> -> <%= note.content %></li>
  <% end %></ol>
<% else %>
  <%= "N/A" %><br>
<% end %>
<hr>

<h4>Outstanding balance: <%= number_to_currency(@matter.calculate_matter_invoice) %></h4>
