#goal: create a view that lists all the time entries for a particular matter accessible by the nested URL /matters/:id/time_entries
#steps
#1 create view
#2 create controller action
#3 set route
#4 test and refactor

<h4>Time Entries for <%= @matter.name %></hr>

<% @matter.time_entries.each do |time_entry| %>
  <p><%= link_to time_entry.date, time_entry_path(time_entry) %></p>
  <b>Description: </b><%= time_entry.description %>
  <li>Duration: </li><%= time_entry.duration %>
  <li>Attorney: </li><%= time_entry.lawyer? ? (link_to time_entry.lawyer.name, time_entry.lawyer) : "N/A" %></li>
  <li>Billable: <%= time_entry.billable? ? "Yes" : "No" %> | Paid: <%= time_entry.paid? ? "PAID" : "UNPAID" %></li>
<% end %>
