<%= form_for(client) do |f| %>

  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %>
        prohibited this matter from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  <%= f.label :address %><br>
  <%= f.text_field :address %><br>
  <%= f.label :phone %><br>
  <%= f.text_field :phone %><br><br>
  <%= f.submit %>

<% end %>
