<h1>Edit client</h1>

<%= form_for(@client) do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  <%= f.label :address %><br>
  <%= f.text_field :address %><br>
  <%= f.label :phone %><br>
  <%= f.text_field :phone %><br>
  <%= f.submit %>

<% end %>
