<h1>Client Invoice</h1>

<h3>Bill to:</h3>
<blockquote>
  <%= @client.name %><br>
  <%= @client.address %><br>
  <%= @client.phone %><br>
  <%= @client.email %><br>
</blockquote>

<% @client_matters.each do |matter| %>
  <h4><u>Matter: <%= matter.name %></u></h4>
  <table style="border-spacing: 1.5em 0;">
    <tr align = "center">
      <th>Date</th>
      <th>Description</th>
      <th>Duration (hrs.)</th>
      <th>Rate ($/hr.)</th>
      <th>Lawyer</th>
      <th>Fee</th>
    </tr>
    <% matter.unpaid_time_entries.each do |time_entry| %>
      <tr align = "center" >
        <td><%= time_entry.date %></td></td>
        <td><%= time_entry.description %></td>
        <td><%= time_entry.duration %></td>
        <td><%= number_to_currency(time_entry.rate) %></td>
        <td><%= time_entry.lawyer.name %></td>
        <td><%= display_billable_cost_of(time_entry) %></td>
      </tr>
    <% end %>
  </table>
  
  <p>*Supervising Attorney: <%= matter.lawyer.name %> (<%= matter.lawyer.email %>)</p>
  <p><b>Subtotal: <%= number_to_currency(sum_of_unpaid_time_entries_for(matter)) %></b></p>
<% end %>
<hr>
<h4>Balance Due: <%= number_to_currency(@client.total_outstanding_balance) %></h4>
