<h1>Client Invoice</h1>

<h3>Bill to:</h3>
<blockquote><%= @client.name %><br>
<%= @client.address %><br>
<%= @client.phone %><br>
<%= @client.email %><br></blockquote>

<% @client.matters.each do |matter| %>
  <h4>Matter: <%= matter.name %></h4>
  <% matter.time_entries.each do |time_entry| %>
    <li><%= time_entry.date %> | <%= time_entry.description %> | <%= time_entry.duration %> | <%= number_to_currency(time_entry.rate) %> | <%= time_entry.lawyer.name %> | <%= time_entry.billable? ? number_to_currency(time_entry.cost) : "(no charge)" %></li>
  <% end %>
<% end %>
<h4>Balance Due: <%= number_to_currency(@client.total_outstanding_balance) %></h4>
