<h3>Client Profile</h3>

<p>Name: <%= @client.name %></p>
<p>Email: <%= @client.email %></p>
<p>Address: <%= @client.address %></p>
<p>Phone: <%= @client.phone %></p>
<%= button_to 'Edit Client', edit_client_path(@client), method: "get" %><br>
<hr>
<h4>Client Matters</h4>
<ol><% @client.matters.each do |matter| %>
  <li><%= link_to matter.name, matter_path(matter) %></li>
<% end %></ol><br>
<hr>
<h4>Client Billing</h4>
<p>Outstanding Balance: <%= number_to_currency(@client.total_outstanding_balance) %></p>
