<h3>Time Entries</h3>

<div>
  <div style="float:left;">
    <%= button_to 'Add new time entry', new_time_entry_path, method: "get" %>
  </div>
  <div style="float:left;">
    <%= button_to "View all matters", matters_path, method: 'get' %>
  </div>
  <div style="clear:both;">
  </div>
</div>


<table>
  <tr>
    <th>id.</th>
    <th>Lawyer</th>
    <th>Client</th>
    <th>Matter</th>
    <th>Date</th>
    <th>Duration</th>
    <th>Rate</th>
    <th>Billable?</th>
  </tr>
<ul><% @time_entries.each do |time_entry| %>
  <tr>
    <td><%= link_to time_entry.id, time_entry_path(time_entry) %></td>
    <td><%= link_to time_entry.lawyer.name, time_entry.lawyer %></td>
    <td><%= link_to time_entry.matter.client.name, time_entry.matter.client %></td>
    <td><%= link_to time_entry.matter.name, time_entry.matter %></td>
    <td><%= time_entry.date %></td>
    <td><%= time_entry.duration %> hrs.</td>
    <td><%= time_entry.rate %></td>
    <td><%= time_entry.billable? ? "Yes" : "No" %></td>

  </tr
<% end %></ul>
</table>

<br>
<hr>

<b>Current Accounts Receivable: <%= number_to_currency(TimeEntry.accounts_receivable) %></b><br>

<hr>

<h4>Clients with outstanding balances:</h4>
<ol><% TimeEntry.outstanding_clients.each do |client| %>
  <li><%= link_to client.name, client_path(client) %></li>
<% end %>
