<h3>Time Entry</h3>
  <p>Matter: <%= link_to @time_entry.matter.name, matter_path(@time_entry.matter) %></p>
  <p>Client: <%= link_to @client.name, client_path(@time_entry.matter.client_id) %></p>
<hr>
  <p>Date: <%= @time_entry.date %></p>
  <p>Description: <%= @time_entry.description %></p>
<hr>
  <p>Duration: <%= @time_entry.duration %> hours</p>
  <p>Attorney: <%= @time_entry.lawyer.name %></p>
  <p>Rate: <%= number_to_currency(@time_entry.rate) %>/hr.</p>
<hr>
  <p>Billable: <%= billable_status_of(@time_entry) %></p>
  <p>Paid: <%= paid_status_of(@time_entry) %></p>
<hr>

<div>
    <div style="float:left;">
      <%= button_to 'Edit Time Entry', edit_matter_time_entry_path(@time_entry.matter, @time_entry), method: "get" %>
    </div>
    <div style="float:left;">
      <%= button_to 'See Parent Matter', matter_path(@time_entry.matter), method: "get" %>
    </div>
    <div style="clear:both;">
    </div>
</div>
