<h1>Edit lawyer</h1>

<%= form_for(@lawyer) do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :email %><br>
  <%= f.text_area :email %><br>
  <%= f.label :rate %><br>
  <%= f.text_area :rate %><br>
  <%= f.submit %>

<% end %>
