<!DOCTYPE html>
<html>
  <head>
    <title>LawFirmBillingSoftware</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if signed_in? %>
      <p>Welcome, <%= link_to current_user.name, current_user %>! (<a href=/logout>logout</a>)</p>
    <% end %>
    <%= yield %>
  </body>
</html>
